.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

main {
  padding: 1.25rem 0;
}

.container {
  max-width: 1100px;
}

.navbar .nav-link.active {
  font-weight: 600;
}

.card-header {
  background-color: #f8f9fa;
}

.table td, .table th {
  vertical-align: middle;
}
